@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


.carouselCont {
    /* background-color: beige; */
    height: 100%;
    display: inline-block;
    width: calc(100% - 100px);
    position: relative;
    overflow: hidden;
    /* text-align: left; */
    white-space: nowrap;
}

.prevCont, .nextCont {
    position: absolute;
    pointer-events: none;
}

.prevCont {
    height: 100%;
    width: 76px;
    /* background-color: green; */
    z-index: 10;
    /* display none while page has no behavior */
    display: none;
}

.nextCont {
    height: 100%;
    width: 76px;
    /* background-color: green; */
    right: 0%;
    z-index: 10;
}

.lspacer, .rspacer {
    display: inline-block;
    width: 40px;
    /* background-color: aquamarine; */
    height: 100%;
}

.lspacer{
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(255,255,255,1));
}

.rspacer {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,1));
}
/* styles below are not used %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* elements affected are moved to parent level %%%%%%%%%%%%%%%%%%%%%%%% */

.prevBtnCont, .nextBtnCont{
    width: 36px;
    /* background-color: black; */
    height: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
}

.prevBtn, .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;
    /* background-color: red; */
    border-radius: 50%;
    border: 0.5px solid rgb(0 0 0 / 0.3);
}

.prevBtn {
    margin-left: 5px;
}

.nextBtn {
    /* transform: scale(1.04); */
    right: 0%;
    margin-right: 5px;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.nextBtn:hover {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: scale(1.04);
    top: 30.5%;
}

.icons {
    margin-top: 8px;
    height: 12px;
    width: 12px;
}
/* until here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.categoryContainer {
    display: inline-block;
    height: 48px;
    margin: 0px 15px;
    margin-top: 12px;
    padding: 4px 0px 12px;
    min-width: 56px;
    position: relative;
}

.categoryContainer:hover {
    cursor: pointer;
}

.firstElement {
    margin-left: 0px;
    border-bottom: 2px solid black;
}

.firstElement:hover {
    cursor: default !important;
}

/* trying out values and styles */
.middleElement .initialIcon {
    position: absolute;
    left: calc(50% - 12px);
    z-index: 1;
}

.middleElement .hoveredIcon {
    position: absolute;
    left: calc(50% - 12px);
    /* display: none; */
}

.middleElement .catLogo {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.middleElement:hover .initialIcon{
    opacity:0;
}

.lastElement {
    margin-right: 0px;
}

.lastElement .initialIcon {
    position: absolute;
    left: calc(50% - 12px);
    z-index: 1;
}

.lastElement .hoveredIcon {
    position: absolute;
    left: calc(50% - 12px);
    /* display: none; */
}

.lastElement .catLogo {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.lastElement:hover .initialIcon{
    opacity:0;
}

.middleElement:hover {
    border-bottom: 2px solid #dddddd;
}

.middleElement:hover .nonActiveText {
    color: black;
}

.lastElement:hover {
    border-bottom: 2px solid #dddddd;
}

.lastElement:hover .nonActiveText {
    color: black;
}

/* until here */

.catLogoCont {
    height: 24px;
    width: 24px;
    margin: 0 auto;
}

.catLogo {
    height: 24px !important;
    width: 24px !important;
}

.catText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    z-index: 0;
    top: 3px;
}

.nonActiveText {
    color: #717171;
}

@media screen and (max-width: 749.95px) {
    .carouselCont {
        width: calc(100%);
    }

    .categoryContainer {
        height: 44px;
    }

    .catText {
        top: 0px;
    }

  }

