@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

.mainSelectionsContainer {
  height: 98px;
  /* padding: 0px 80px; */
  text-align: center;
  position: sticky;
  top: 60px;
  z-index: 0;
  padding: 0px 80px;
  /* background-color: red; */
}

.spacer {
  height: 20px;
  /* background-color: bisque; */
}

.selectionsContainer {
  height: 78px;

  /* height: 74px; */
}

.filterContainer {
  height: 100%;
  width: 100px;
  /* background-color: red; */
  float: right;
  position: relative;
}

.filterButton {
  width: 91px;
  height: 48px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  border-radius: 8px;
  /* padding: 0px 7px; */
  margin: 0px !important;
  border: 1px solid #dddddd;
}

.filterDiv {
  height: 100%;
  width: 100%;
  position: relative;
}

.filterTextImgCont {
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: red; */
  text-align: center;
  width: 100%;
}

.logoCont {
  height: 16px;
  width: 16px;
  /* background-color: antiquewhite; */
  margin-top: 2px;
  margin-right: 6px;
  display: inline-block;
}

.filterIcon {
  height: 14px;
  width: 14px;
}

.filterText {
  position: relative;
  top: -3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1439.95px) {
  .mainSelectionsContainer {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 749.95px) {
  .mainSelectionsContainer {
    padding: 0px 24px;
  }

  .spacer {
    display: none;
  }
}

@media screen and (max-width: 749.95px) {
  .mainSelectionsContainer {
    top: 70px;
    height: 74px;
  }

  .selectionsContainer {
    /* height: 78px; */

    height: 74px;
  }

  .filterContainer {
    display: none;
  }
}
