@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


.carouselCont {
    /* background-color: beige; */
    height: 100%;
    display: inline-block;
    width: calc(100% - 100px);
    position: relative;
    overflow: hidden;
    /* text-align: left; */
    white-space: nowrap;
}

.prevCont, .nextCont {
    position: absolute;
}

.prevCont {
    height: 100%;
    width: 76px;
    /* background-color: green; */
    z-index: 10;

    display: none;
}

.nextCont {
    height: 100%;
    width: 76px;
    /* background-color: green; */
    right: 0%;
    z-index: 10;
}

.lspacer, .rspacer {
    display: inline-block;
    width: 40px;
    /* background-color: aquamarine; */
    height: 100%;
}

.lspacer{
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(255,255,255,1));
}

.rspacer {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,1));
}

.prevBtnCont, .nextBtnCont{
    width: 36px;
    /* background-color: black; */
    height: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
}

.prevBtn, .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;
    /* background-color: red; */
    border-radius: 50%;
    border: 0.5px solid rgb(0 0 0 / 0.3);
}

.prevBtn {
    margin-left: 5px;
}

.nextBtn {
    right: 0%;
    margin-right: 5px;
}

.icons {
    margin-top: 8px;
    height: 12px;
    width: 12px;
}

.categoryContainer {
    display: inline-block;
    height: 48px;
    margin: 0px 15px;
    margin-top: 12px;
    padding: 4px 0px 12px;
    min-width: 56px;
}

.firstElement {
    margin-left: 0px;
    border-bottom: 2px solid black;
}

.lastElement {
    margin-right: 0px;
}

.catLogoCont {
    height: 24px;
    width: 24px;
    margin: 0 auto;
}

.catLogo {
    height: 24px !important;
    width: 24px !important;
}

.catText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    z-index: 0;
    top: 3px;
}

@media screen and (max-width: 749.95px) {
    .carouselCont {
        width: calc(100%);
    }

    .categoryContainer {
        height: 44px;
    }

    .catText {
        top: 0px;
    }

  }

