@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


.mainTopNav {
    height: 80px;
    /* padding: 0px 80px; */
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid #DDDDDD;
    padding: 0px 80px;
    background-color: white;
}

.mobileUITopContainer {
    height: 100%;
    width: 100%;
    display: none;
}

.leftContainer {
    /* background-color: blue; */
    width: calc((100%)/3);
    height: 100%;
    display: inline-block;
}

.middleContainer {
    /* background-color: purple; */
    width: calc((100%)/3);
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;

}

.rightContainer {
    /* background-color: yellow; */
    width: calc((100%)/3);
    height: 100%;
    display: inline-block;
    position: relative;
}

.logoContainer {
    height: 100%;
    width: 105px;
    display: inline-block;
    position: relative;
    /* background-color: green; */
}

.logo, .logoSmall {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.addWidgetContainer {
    height: 48px;
    width: 100%;
    /* background-color: red; */
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.addWidget {
    height: 46px;
    /* width: calc(100%-48px); */
    width: 356px;
    /* margin: 0px 24px; */
    margin: auto;
    /* background-color: green; */
    border-radius: 25px;
    border: 1px solid #DDDDDD;
}

.miscContainer {
    /* background-color: aquamarine; */
    /* width: 50px; */
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    height: 42px;
}

.accountContainer {
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 5px 5px 5px 12px;
    border-radius: 21px;
    margin: 0 2px;
    background-color: white;
    position: relative;
    border: 1px solid #DDDDDD;
}

.burgerIcon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.userIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
}

.settings {    
    display: inline-block;
    width: 46px;
    height: 42px;
    border-radius: 21px;
    margin: 0 2px;
    background-color: white;
    position: relative;
}

.globeLogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.bnbHome {    
    display: inline-block;
    width: 150px;
    height: 42px;
    background-color: white;
    border-radius: 21px;
    margin: 0 2px;
    text-align: center;
    position: relative;
}

.bnbHomeTextCont {
    height: 18px;
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.bnbHomeText {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    bottom: 4px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1439.95px) {
    .mainTopNav {
        padding: 0px 40px;
    }

    .leftContainer, .rightContainer {
        width: calc((100% - 400px)/2);
    }

    .middleContainer {
        width: 400px;
    }

    .logoSmall {
        display: none;
    }
}

@media screen and (max-width: 1127.95px) {
    .logoSmall {
        display: inline-block;
    }

    .logo {
        display: none !important;
    }
}

@media screen and (max-width: 1070.95px) {
    .leftContainer, .rightContainer {
        width: calc((100% - 400px - 287px));
    }

    .rightContainer {
        width: 287px;
    }
}

@media screen and (max-width: 949.95px) {
    .middleContainer {
        width: 400px;
    }

    .leftContainer {
        width: 30px;
    }

    .rightContainer {
        width: calc((100% - 400px - 30px));
    }
}

@media screen and (max-width: 813.95px) {
    .middleContainer {
        max-width: calc((100% - 287px - 30px));
        text-align: left;
    }

    .addWidget {
        max-width: 356px;
        width: calc(100% - 42px);
    }

    .leftContainer {
        width: 30px;
    }

    .rightContainer {
        width: 287px;
    }
}

@media screen and (max-width: 749.95px) {
    .mainTopNav {
        padding: 14px 24px 0px;
        height: 56px;
        border-bottom: none;
    }

    .leftContainer, .middleContainer, .rightContainer {
        display: none;
    }

    .mobileUITopContainer {
        display: block;
    }
}
