@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.anywhereCont {
  display: inline-block;
  height: 46px;
  margin-left: 8px;
  width: 100px;
  text-align: center;
}

.whereText,
.weekText,
.guestText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 0px 16px;
  line-height: 46px;
}

.whereText,
.weekText {
  font-weight: 600;
}

.anyweekCont {
  display: inline-block;
  height: 46px;
  width: 98px;
  text-align: center;
}

.addCont {
  display: inline-block;
  height: 46px;
  width: 148px;
  position: relative;
  /* text-align: center; */
}

.widgetSpacer {
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  background-color: #dddddd;
  display: inline-block;
  position: relative;
  top: 7.6px;
}

.widgetSpacerInner {
  background-color: none;
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: inline-block;
}

.guestText {
  margin-right: 41px;
  color: #717171;
}

.magnifyCont {
  display: inline-block;
  background-color: #ff385c;
  height: 30px;
  width: 32px;
  position: absolute;
  top: 8px;
  right: 7px;
  border-radius: 50%;
  text-align: center;
}

.magnifyIcon {
  height: 13px;
  width: 13px;
  position: relative;
  top: 4px;
}

@media screen and (max-width: 813.95px) {
  .whereText,
  .weekText,
  .guestText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    padding: 0px 13px;
  }

  .whereText {
    /* width: 67.05px; */
    /* width: calc(27.933% + 32px) !important; */
    width: calc(100% - 26px);
  }

  .weekText {
    /* width: 64.42px; */
    /* width: calc(27.374% + 32px) !important; */
    width: calc(100% - 26px);
  }

  .guestText {
    width: calc(100% - 41px - 26px);
  }

  .widgetSpacer {
    /* width: calc(30.16760%); */
    z-index: 5;
    background-color: transparent !important;
  }

  .widgetSpacerInner {
    /* flex: 0 0 1px;
    height: 24px;
    width: 1px; */
    height: 100%;
    width: 100%;
    background-color: #dddddd;
    display: inline-block;
    position: absolute;
    top: -6.4px;
    z-index: 5;
  }

  .anywhereCont {
    width: calc(27.933%) !important;
  }

  .anyweekCont {
    width: calc(27.374%) !important;
  }

  .addCont {
    width: calc((100% - 27.933% - 27.374%) - 10px) !important;
  }
}
