@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

.anywhereCont {
  display: inline-block;
  height: 46px;
  margin-left: 8px;
  width: 100px;
  text-align: center;
}

.widgetText, .guestText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 0px 16px;
  line-height: 46px;
}

.anyweekCont {
  display: inline-block;
  height: 46px;
  width: 98px;
  text-align: center;
}

.addCont {
  display: inline-block;
  height: 46px;
  width: 148px;
  position: relative;
  /* text-align: center; */
}

.widgetSpacer {
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color: #DDDDDD;
    display: inline-block;
    position: relative;
    top: 7.6px;
}

.guestText {
    margin-right: 41px;
}

.magnifyCont {
    display: inline-block;
    background-color: #FF385C;
    height: 30px;
    width: 32px;
    position: absolute;
    top: 8px;
    right: 7px;
    border-radius: 50%;
    text-align: center;
}

.magnifyIcon {
    height: 13px;
    width: 13px;
    position: relative;
    top: 4px;
}
